<%- include("../../partials/header.ejs") %> <%-
include("../../partials/sidebar.ejs") %>

<style>
  .categorie-left,
  .add-new-right {
    width: 50%;
    float: left;
  }
  .add-new-right,
  .add-new-right a {
    float: right;
  }
</style>

<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="card">
            <% if(message.success){ %>
            <div class="alert alert-success"><%= message.success %></div>
            <% }else if(message.fail) { %>
            <div class="alert alert-danger"><%= message.fail %></div>
            <% } %>
            <div class="card-header">
              <div class="categorie-left"><h4>All Models</h4></div>
              <div class="add-new-right">
                <a href="/admin/add-model" class="btn btn-primary m-auto"
                  >Add New</a
                >
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-striped table-md">
                  
                  <tr>
                    <th>#</th>
                    <th>Model Name</th>
                    <th>Category Name</th>
                    <th>Brand Name</th>
                    <th>Action</th>
                  </tr>

                  <% var key = 1; %> <% models.forEach(model =>{ %>
                  <tr>
                    <td><%= key %></td>
                    <td><%= model.name %></td>
                    <td><%= model.category.name%></td>
                    <td><%= model.brand.name%></td>
                
                  

                    <td>
                      <a
                        href="/admin/edit-model/<%= model._id%>"
                        class="btn btn-primary"
                        >Edit</a
                      >
                      <a
                        href="/admin/delete-model/<%= model._id%>"
                        class="btn btn-danger"
                        >Delete</a
                      >
                    </td>
                  </tr>
                  <% key++ }) %>
                </table>
              </div>
            </div>
            <div class="card-footer text-right">
              <nav class="d-inline-block">
                <ul class="pagination mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1"
                      ><i class="fas fa-chevron-left"></i
                    ></a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#"
                      >1 <span class="sr-only">(current)</span></a
                    >
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#"
                      ><i class="fas fa-chevron-right"></i
                    ></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include("../../partials/footer.ejs") %>
