<%- include('../partials/masterHeader.ejs')%>
<%- include('../partials/commanHeader.ejs')%>

 <!-- Breadcrumb Section Begin -->
 <section class="breadcrumb-section ">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="breadcrumb__text">
                  <h2>Forgot Password</h2>
                  <div class="breadcrumb__option">
                      <a href="/">Home</a>
                      <span>Forgot Password</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<div class="container py-5">

  <div class="row">
    <div class="col-md-5 mx-auto login_box contact-form"> 
      
  
<form method="post">


     
    <% if(message.success) { %>
    <div class="alert alert-success "><%= message.success %></div>
    <% } %>
    <% if(message.fail) { %>
    <div class="alert alert-danger"><%= message.fail %></div>
    <% } %>

     
    <div class="contact__form__title">
      <h2>Forgot Password</h2>
  </div>
   
    <label for="psw"><b>Enter Your Email</b></label>
    <input type="email" class="form-control"  placeholder="Enter Password" name="email" id="pass" />
    <button type="submit" class="log_btn action_btn d-block w-100 site-btn">Forgot Password</button> 
    
 
 
     
      
      
    </div>
    
</form>
</div>
</div>
</div>

<%- include('../partials/footer.ejs'); %>
