

<body class="sub_page">



    <%- include("../partials/header.ejs") %>

        <!-- end header section -->
        </div>
        <section id="breadcrumb">

            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h2>Order Detail</h2>
                </div>
              </div>
            </div>
        
          </section>

    
          <div class="container py-5">

              <div class="row mb-3">
                <div class="col-md-4 mx-auto">
                  <h2 style="background: #ee032b;border-left: 15px solid #fff;font-size: 26px;font-weight: bold;letter-spacing: -1px;height: 73px;line-height: 75px;text-align: center;">Order Invoice </h2>   
                </div>
              </div>


              <div class="row">
                <div class="col-sm-12">
                    <h3>Your contact details</h3><br>
                </div>

                <div class="col-md-6" style="background:#eee;padding:20px;">
                    <strong>Date:</strong><%= CurrentDate %> <br>
                    <strong>Payment type:</strong> Cash On Delivery<br>          
                </div>
                <div class="col-md-6" style="background:#eee;padding:20px;">
                    <strong>Date:</strong><%= CurrentDate %> <br>
                    <strong>Payment type:</strong> Cash On Delivery<br>
                </div>
              </div>
            
          


              <div class="row my-2">
                <div class="col-md-12 pl-0 d-flex align-items-center">
                    <div style="background: #ee032b url(https://cdn4.iconfinder.com/data/icons/basic-ui-2-line/32/shopping-cart-shop-drop-trolly-128.png) no-repeat;width: 50px;height: 50px;margin-right: 10px;background-position: center;background-size: 25px;float: left; margin-bottom: 15px;"></div> 
                    <h3>Your articles</h3>
                  
                </div>
              </div>
    
           
              <div class="row">
                <div class="col-md-12 p-0">

                    <table class="table"  style="border-bottom:1px solid #eee;">
                        <thead>
                        <tr>
                          <th width="40%" class="column-header">Article Name</th>
                          <th width="20%" class="column-header">Qty</th>
                          <th width="20%" class="column-header">Price</th>
                          <th width="20%" class="column-header">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                          <% cart.forEach(data=>{ %>
                            
                            <tr>
                                <td> <%= data.item.name  %></td>
                                <td><%= data.qty %></td>
                                <td>$ <%= data.item.price  %> </td>
                                <td> $<%= data.qty * data.item.price  %>  </td>
                              </tr>
                        
                        <% })%>
                       
                    </tbody>
                     </table><br>


                </div>
              </div>

              
           
              <div class="row">
                
              <div class="col-md-12 p-0">
            <table class="table" style="background:#eee;padding:20px;">
              <tr>
                <td>
                  <table width="300px" style="float:right">
                    <tr>
                      <td><strong>Sub-total:</strong></td>
                      <td style="text-align:right">$<%= cartSession.totalPrice  %></td>
                    </tr>  
                    <tr>
                      <td><strong>Shipping fee:</strong></td>    
                      <td style="text-align:right">$500</td>
                    </tr>
                   
                    <tr>
                      <td><strong>Grand total:</strong></td>    
                      <td style="text-align:right"><%= cartSession.totalPrice  + 500  %></td>
                    </tr>
                  </table>
                 </td>
              </tr>
            </table>
        </div>
        </div>
           
          </div><!-- container -->
          

        <!-- end product detail section -->


        <%- include("../partials/footer.ejs") %>