<%- include('../partials/masterHeader.ejs')%>
<%- include('../partials/commanHeader.ejs')%>

 <!-- Breadcrumb Section Begin -->
 <section class="breadcrumb-section ">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="breadcrumb__text">
                  <h2>Reset Password</h2>
                  <div class="breadcrumb__option">
                      <a href="/">Home</a>
                      <span>Reset Password</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<div class="container py-5">

  <div class="row">
    <div class="col-md-5 mx-auto login_box contact-form"> 
      
  
<form method="post">


     
    <% if(message.success){ %>
    <div class="alert alert-success"><%= message.success %></div>
    <% }else if(message.fail) { %>
    <div class="alert alert-danger"><%= message.fail %></div>
    <% } %>

      <% if(typeof message_show != "undefined") {%>
        <div class="alert alert-danger"><%= message_show%></div>

      <% } %>
      <div class="contact__form__title">
        <h2>Reset Password</h2>
    </div>
    <label for="email"><b>Password</b></label>
    <input type="password" class="form-control" placeholder="Enter New Password" name="password" id="password" />

    <button type="submit" class="log_btn d-block w-100 action_btn site-btn">Reset Your Password</button> 
     
      
    </div>
    
</form>
</div>
</div>
</div>

<%- include('../partials/footer.ejs'); %>
